# SF 3.x files
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

/web/bundles/
/web/upload

# Gulp & Bower dependencies
node_modules
bower_components

# Webpack files
*.hot-update.js
*.hot-update.json

# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

# OS or Editor folders
.cache
.DS_Store
.project
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db
.idea/
/.idea/*
/.settings
/screenshots/*
.buildpath
us.stackdump
mysql.exe
casperjs/
phantomjs/
