# From https://github.com/github/gitignore

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3-4)
/var/cache/*
/var/logs/*
/var/sessions/*
/var/exchange/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
!var/exchange/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# Docker files
/docker-compose.override.yml

# Import and export dir/files
/app/Resources/exchange/*
/web/medias/*

# Compiled assets
/web/assets/*
/web/compiled/*

# PhpCsFixer config 
.php_cs
.php_cs.cache

# IDE or MacOS files
.DS_Store
.idea/
*.sublime-settings
